.card {
    display: flex;
    flex-direction: column;
    height: 33vh;
    width: 14%;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    
    border: 6px solid yellow;
    background-color: rgb(232, 229, 49);

    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: trasnform 0.90s ease-out;

    box-shadow: 0 0 10px black;
    &:hover {
       box-shadow: 0 0 5px red;
    }
  }

  .card:hover {
    transform: scale(1.05);
  }
  
  .topSection {
    display: flex;
    flex-direction: row; 
  }
  
  .middleSection {
    flex: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid rgb(221, 221, 0);
    background-image: linear-gradient(70deg, #ff8fff 0, #ff86ff 3.57%, #ff7ef3 7.14%, #ff78de 10.71%,
     #ff74c9 14.29%, #ff73b4 17.86%, #ff769f 21.43%, #ff7b8b 25%, #ff8177 28.57%, #ff8a64 32.14%,
      #ff9352 35.71%, #ff9c40 39.29%, #ffa52e 42.86%, #ffae1b 46.43%, #fbb600 50%, #e9be00 53.57%,
       #d6c400 57.14%, #c2ca00 60.71%, #add017 64.29%, #96d42c 67.86%, #7cd840 71.43%, #5bdc54 75%,
        #25df68 78.57%, #00e17d 82.14%, #00e392 85.71%, #00e4a7 89.29%, #00e5bd 92.86%, #00e6d3 96.43%,
         #00e6e9 100%);
    overflow: hidden;
  }

  .name {
    font-size: 12px; /* Ajusta el tamaño de fuente según sea necesario */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 70%;
    
  }
  
  .hp {
    flex: 30%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bottomSection {
    flex: 30%;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
  }
  
  .text {
    text-decoration: none;
    color: black;
  }

  /* Colores de fondo según los tipos de Pokémon */
  .card.grass {
    background: linear-gradient(180deg, rgba(0,191,54,1) 0%, rgba(69,252,99,1) 100%);
  }
  
  .card.fire {
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(252,176,69,1) 100%); 
  }
  
  .card.water {
    background: linear-gradient(180deg, rgba(0,112,255,1) 0%, rgba(69,232,252,1) 100%);
  }

  .card.electric {
    background: linear-gradient(180deg, rgba(238,222,23,1) 0%, rgba(255,253,59,1) 100%);
  }

  .card.dragon {
    background: linear-gradient(180deg, rgba(88,88,82,1) 0%, rgba(226,214,214,1) 100%);
  }

  .card.fighting {
    background: linear-gradient(180deg, rgba(227,137,33,1) 0%, rgba(212,66,18,1) 100%);
  }

  .card.flying {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(205,196,196,1) 100%);
  }

  .card.poison {
    background: linear-gradient(180deg, rgba(160,0,184,1) 0%, rgba(194,132,208,1) 100%);
  }

  .card.ground {
    background: linear-gradient(180deg, rgba(255,210,25,1) 0%, rgba(176,121,1,1) 100%);
  }

  .card.rock {
    background: radial-gradient(circle, rgba(249,188,89,1) 0%, rgba(203,155,7,1) 100%);
  }

  .card.bug {
    background: radial-gradient(circle, rgba(122,249,89,1) 0%, rgba(218,195,11,1) 100%);
  }

  .card.ghost {
    background: radial-gradient(circle, rgba(92,0,76,1) 0%, rgba(204,5,183,1) 100%);
  }

  .card.steel {
    background: radial-gradient(circle, rgba(59,54,58,1) 0%, rgba(172,172,172,1) 100%);
  }

  .card.psychic {
    background: radial-gradient(circle, rgba(176,79,79,1) 0%, rgba(118,0,144,1) 100%);
  }

  .card.ice {
    background: radial-gradient(circle, rgba(188,248,255,1) 0%, rgba(0,165,204,1) 100%);
  }

  .card.dark {
    background: radial-gradient(circle, rgba(102,50,111,1) 0%, rgba(75,96,101,1) 100%);
  }

  .card.fairy {
    background: radial-gradient(circle, rgba(245,52,202,1) 0%, rgba(145,0,88,1) 100%);
  }

  .card.unknown {
    background: radial-gradient(circle, rgba(255,163,64,1) 0%, rgba(255,222,73,1) 100%);  
  }

  .card.shadow {
    background: radial-gradient(circle, rgba(42,27,22,1) 0%, rgba(108,105,107,1) 100%);
  }

  .card.normal {
    background: radial-gradient(circle, rgba(223,214,205,1) 0%, rgba(89,86,71,1) 100%);
  }

  @media screen and (max-width: 520px){
    .card {
      height: 33vh;
      width: 45%;
    }
    .card h3 {
      font-size: 16px;
    }
}



