.container {
  display: flex;
  height: 100vh;
  background-image: url("../../images/pokewp4.png");
}

.containerInfo {
  display: flex;
  flex: 80%;
  flex-direction: column;
}

.divNavbar {
  flex: 20%;
}

/* .divCards {
    margin-top: 20px;
} */

.topSection {
  flex: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

.topDivision {
  display: grid;
  grid-template-columns: 100% 10%;
}

.topSection label {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  color: black;
}

.topSectionLeft select {
  font-family: "Kavivanar", cursive;
  color: black;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px white;
  }
}

.topSectionLeft {
  background-color: red;
  padding: 8px;
  width: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  border: 2px solid black;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 10px;
  &:hover {
    box-shadow: 0 0 5px black;
  }
}

.topSectionRight {
  background-color: white;
  width: 80vh;
  padding: 8px;
  border: 2px solid black;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 10px;
  &:hover {
    box-shadow: 0 0 5px black;
  }
}

.topSectionRight select {
  font-family: "Kavivanar", cursive;
  color: white;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  background-color: red;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px red;
  }
}

.topSectionRight button {
  font-family: "Kavivanar", cursive;
  color: white;
  height: 30px;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 15px;
  background-color: red;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px red;
  }
}

.filters {
    width: 100%;
    height: 100px;
    
    padding: 10px 0px 15px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.511);
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto ;
    justify-content: center;
    gap: 1rem;
}

.filters select {
    width: 120px;
    margin: 10px;
    font-size: 15px;
    font-family: "Kavivanar", cursive;
    background-color: #96E4E7;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px whitesmoke;
    }
}
.rayquaza {
  display: flex;
  height: 100vh;
  background-image: url("../../images/create5.jpg");
}

.buttonArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding-bottom: 10px;
}

.scroll-to-top-button {
  position: sticky;
  border: none;
  cursor: pointer;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s; /* Agrega una transición suave */
}

.scroll-to-top-button.show {
  opacity: 1; /* Mostrar cuando se aplica la clase "show" */
  cursor: pointer;
}

/* @media screen and (min-width: 1550px){
    .container {
        background-color: grey; 
    }
} */

@media screen and (max-width: 1550px) {
  /* .container {
        background-color: blue; 
    } */
  .divNavbar {
    display: none;
  }
  .button {
    display: none;
  }
  .topSectionRight button {
    background-color: rgb(31, 83, 166);
    &:hover {
      box-shadow: 0 0 10px rgb(31, 83, 166);
    }
  }
}
/* @media screen and (max-width: 1200px){
    .container {
        background-color: white; 
    }
}
@media screen and (max-width: 992px){
    .container {
        background-color: red; 
    }
}
@media screen and (max-width: 768px){
    .container {
        background-color: yellow;
    }
}
@media screen and (max-width: 600px){
    .container {
        background-color: fuchsia;
    }
} */
@media screen and (max-width: 520px) {
  .container {
    position: relative;
    width: 100%;
    height: auto; /* Cambia de 100vh a auto */
    overflow: hidden; /* Para ocultar el desbordamiento del fondo */
    background-image: url("../../images/pokewp4.png");
    background-size: cover;
    background-position: center;
  }
  .topSection {
    margin: 0;
    width: 100%;
    height: 240px;
    background-color: #007f86;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
  }
  .topSection h3 {
    font-family: "Kavivanar", cursive;
    font-size: 16px;
  }
  .topSection hr {
    border: solid 1px black;
    width: 70vw;
  }
  .topSectionLeft {
    display: none;
  }
  .topSectionRight {
    display: none;
  }
  .topSection head {
    text-align: center;
  }
  .rayquaza {
    background-image: url("../../images/create5.jpg");
    position: relative;
    width: 100%;
    height: auto; /* Cambia de 100vh a auto */
    overflow: hidden; /* Para ocultar el desbordamiento del fondo */
    
    background-size: cover;
    background-position: center;
  }
  .title{
    display: flex;
  }
}
