.container {
    display: flex;
    height: 100vh;
    background-image: url("../../images/pokewp4.png");
}



.containerInfo {
    display: flex;
    flex: 80%;
    flex-direction: column;
}




.divNavbar {
    flex: 20%;
}
  
/* .divCards {
    display: flex;
    flex: 80%;
    flex-direction: column;
} */

.topSection {
    flex: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 10px;
}

.topSection label {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: black;
}


.topSectionLeft select {
    font-family: 'Kavivanar', cursive;
    color: black;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px white;
    }
}

.topSectionLeft {
    background-color: red;
    padding: 8px;
    width: 75vh;
    display: flex;
    flex-direction: row;
    justify-content:end;
    border: 2px solid black;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 10px;
    &:hover {
        box-shadow: 0 0 5px black;
    }
}

.topSectionRight {
    background-color: white;
    width: 80vh;
    padding: 8px;
    border: 2px solid black;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 10px;
    &:hover {
        box-shadow: 0 0 5px black;
    }
}

.topSectionRight select {
    font-family: 'Kavivanar', cursive;
    color: white;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px red;
    }
}

.topSectionRight button {
    font-family: 'Kavivanar', cursive;
    color: white;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 15px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px red;
    }
}

.rayquaza {
    display: flex;
    height: 100vh;
    background-image: url("../../images/create5.jpg");
}



/* @media screen and (min-width: 1550px){
    .container {
        background-color: grey; 
    }
} */

@media screen and (max-width: 1550px){
    /* .container {
        background-color: blue; 
    } */
    .divNavbar {
        display: none;
    }
    .button {
        display: none;
    }
    .topSectionRight button {
        background-color: rgb(31, 83, 166);
        &:hover {
            box-shadow: 0 0 10px rgb(31, 83, 166);
        } 
    }
}
/* @media screen and (max-width: 1200px){
    .container {
        background-color: white; 
    }
}
@media screen and (max-width: 992px){
    .container {
        background-color: red; 
    }
}
@media screen and (max-width: 768px){
    .container {
        background-color: yellow;
    }
}
@media screen and (max-width: 600px){
    .container {
        background-color: fuchsia;
    }
} */
@media screen and (max-width: 520px){
    /* .container {
        background-color: #F5F5F5; 
    } */
    .topSection {
        margin: 0;
        width: 100%;
        height: 150px;
        background-color: #007F86;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 10px;
    }
    .topSectionLeft {
        display: none;
    }
    .topSectionRight {
        display: none;
    }
    .topSection head {
        text-align: center;
    }
}
  