.background {
    display: flex;
    height: 100vh;
    background-image: url("../../images/create6.jpg");
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-wrap: nowrap; 
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 60px;
    width: 60vh;
    height: 80vh;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(188, 188, 22, 0.729); 
    overflow: hidden;
    box-shadow: 0 0 10px black;
    &:hover {
       box-shadow: 0 0 5px red;
    } 
}

.form input {
    font-family: 'Kavivanar', cursive;
    flex: 50%;
    font-size: 15px;
    color: black;
    justify-content: start;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
    background-color: rgb(246, 246, 101);
    margin-right: 250px;
    margin-top: 10px;
}

.topSection {
    flex: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 60vh;
    font-family: 'Kavivanar', cursive;
    background-color: rgba(188, 188, 22, 0.996); 
}

.middleSection {
    flex: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y:visible; 
    overflow-x: hidden; 
    width: 100%;
    height: 100%;
    font-family: 'Kavivanar', cursive;
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
}

.stylesDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; 
}

.errorInputs {
    display: flex;
    flex: 50%;
    position: fixed;
    flex-grow: 1;
    margin-left: 270px;
}

.bottomSection {
    border-top: 3px solid rgb(0, 0, 0);
    flex: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    border-top: 3px solid black;
    background-color: rgba(188, 188, 22, 0.996);
}

.buttonCreate {
    font-family: 'Kavivanar', cursive;
    color: black;
    font-size: 15px;
    background-color: rgb(7, 196, 7);
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 20vh;
    height: 5vh;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px rgb(0, 255, 30);
     } 

}

.buttonCreate:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
}

.buttonCancel {
    font-family: 'Kavivanar', cursive;
    color: black;
    font-size: 15px;
    background-color: red;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20vh;
    height: 5vh;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 5px red;
     } 
}


.error {
    color:  rgb(226, 0, 0);
    font-size: 15px;
    margin-left: 25px;
}

.message {
    color:  rgb(15, 138, 1);
    font-size: 15px;
    margin-left: 20px;
}

.checkboxContainer {
    overflow-y: scroll;
    height: 20vh; 
    width: 30vh;
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(255, 255, 0, 0.166); 
}

.checkboxOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; 
}

.hr {
   width:18vh;
   color: black;
   margin-top: 15px;
}

.checkbox {
    margin-bottom: 5px;
    color: black;
    background-color: black;
}
  
.checkboxContainer input {
    margin-right: 5px;
}

  


